<launch>
 <!-- What is the name of the file to use? -->
 <arg name="use_xacro" default="false" />
 
 <!-- the fuull path of the URDF file can be passed -->
 <arg if="$(arg use_xacro)" name="filename" default="robowheel.xacro" />
 <arg unless="$(arg use_xacro)" name="filename" default="robostats.urdf" />

 <arge name="file" default="$(find navvis_description)/urdf/$(arg filename)" />
 
 <param if="$(arg use_xacro)" name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg file)" />
 <param unless="$(arg use_xacro)" name="robot_description" textfile="$(arg file)" />
 
 <!-- run the robot_state_publisher -->
 <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
 <!-- run RVIZ and use the configuration file -->
 <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navvis_description)/config/config.rviz" required="true" />

</launch>
