<robot name="navvis">
	<link     name = "base">
	<visual>
	   <!--   Shift   the   box   up   half   its   height.   !-->
	   <origin     xyz = "0.0 0.0 0.96"     rpy = "0.0 0.0 0.0" />
	  <geometry>
	    <box     size = "0.45 0.78 1.92"    />
	  </geometry>
	</visual>
	<collision>
	   <!--   Shift   the   box   up   half   its   height.   !-->
	  <origin     xyz = "0.0 0.0 0.96"     rpy = "0.0 0.0 0.0"    />
	  <geometry>
	    <box     size = "0.45 0.78 1.92"    />
	  </geometry>
	</collision>
	</link>
	<link     name = "laser_vert_bottom_joint">
	<visual>
	   <!--   Shift   the   box   up   half   its   height.   !-->
	   <origin     xyz = "0.0 0.0 0.96"     rpy = "0.0 0.0 0.0"    />
	  <geometry>
	    <box     size = "0.062 0.062 0.087"    />
	  </geometry>
	</visual>
	<collision>
	   <!--   Shift   the   box   up   half   its   height.   !-->
	  <origin     xyz = "0.0 0.0 0.96"     rpy = "0.0 0.0 0.0"    />
	  <geometry>
	    <box     size = "0.062 0.062 0.087"    />
	  </geometry>
	</collision>
	</link>
	<joint     name = "base_laser_vert_bottom_joint"     type = "fixed" >
          <parent     link = "base"    />
          <child     link = "laser_vert_bottom_joint" />
          <origin     xyz = "0.3158 -0.0021 0.5100"     rpy = "3.1355 -1.3045 0.0025"/>
       </joint>     
</robot>
